{% extends "base.html" %}
{% block content %}
{# used https://github.com/afzafri/IPTV-Player-Web-App as starter for this, but needed lots of fixes to work, also wasn't compatible with ios' #}
    <style>
        html, body {
            height: 100%;
        }

        /* Custom CSS to adjust layout */
        #playlist {
            background-color: #eeeeee;
            padding: 15px;
            max-height: 100vh; /* Set a maximum height equal to the viewport height */
            overflow-y: auto; /* Add a vertical scrollbar when needed */
        }

        .channel {
            background-color: #bbbbbb;

        }
        .activestream {
            background-color: #bbbbbb;

        }

        #videoPlayer {
            width: 100%;
            height: auto;
        }

        .input-group-btn {
            display: flex;
            align-items: center;
        }

        .btn-go {
            margin-left: 10px;
        }

        .tv-logo {
            width: 100px;
        }

        /* Apply subtle glow effect on hover */
        .channel:hover {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            transition: box-shadow 0.3s ease-in-out;
        }

        /* Change cursor to pointer on hover */
        .channel:hover {
            cursor: pointer;
        }

        .activestream:hover {
            cursor: pointer;
        }

        /* CSS for the billed message */
        .billed-msg {
            position: fixed;
            bottom: 10px;
            right: 10px;
            background-color: #333;
            color: white;
            padding: 5px 10px;
            border-radius: 5px;
        }

        /* Search bar styles */
        .search-bar {
            margin-bottom: 10px;
        }

        #recentPlayedList {
            background-color:rgba(0, 0, 0, 0.1);
            padding: 10px;
            border-radius: 15px;
            margin-top: 5px;
            margin-bottom: 10px;
            max-width: 100vh; /* Set a maximum height equal to the viewport height */
            overflow-x: auto; /* Add a vertical scrollbar when needed */
        }

        .ios,
        .ios * {
            /* causes dom events events to be fired */
            cursor: pointer;
        }
    </style>

    <div class="container-fluid h-100">
        <div class="row d-flex justify-content-center h-100">
            <div class="col-md-10 order-md-2">
                <div class="row">
                    <div class="col-12 order-2 order-md-1">
                        <div class="input-group mb-3 mt-3">
                            <input type="text" id="m3uURL" class="form-control" placeholder="Enter M3U URL">
                            <div class="input-group-btn">
                                <button id="loadM3U" class="btn btn-primary btn-go" style="cursor: pointer;">Go</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 order-1 order-md-2">
                        <!-- used styling from advanced demo: https://videojs.com/advanced/?video=sintel -->
                        <div playsinline="true" id="vjs-player-wrapper" class="video-js vjs-big-play-centered preview-player-dimensions vjs-touch-enabled vjs-workinghover vjs-v8 vjs-mux vjs-has-started vjs-fluid vjs-controls-enabled vjs-paused vjs-user-inactive" crossorigin="anonymous" preload="auto" tabindex="-1" role="region" lang="en" translate="no" aria-label="Video Player">
                            <!-- <video id="preview-player_html5_api" preload="auto" crossorigin="anonymous" class="vjs-tech" playsinline="playsinline" tabindex="-1" role="application" poster="" src="blob:https://videojs.com/bb5db845-a94e-4652-8493-c2666a87d855"></video> -->
                            <video id="vjs-player" class="video-js vjs-tech" autoplay controls preload="none" playsinline="playsinline"></video>
                            <!-- <div class="vjs-playlist" data-for="vjs-player"></div> -->
                            <!-- <div class="playlist-container  preview-player-dimensions vjs-fluid">
                                <ol class="vjs-playlist"></ol>
                            </div> -->
                        </div>
                    </div>

                    <div class="col-12 order-3 mt-3" id="activeStreamsSection">
                        <div>Continue Watching</div>
                        <div id="activeStreamsList" class="d-flex">
                            <div id="dummy" class="activestream"></div>
                        </div>
                    </div>

                    <div class="col-12 order-3 mt-3" id="recentPlayedSection">
                        <div>Continue Watching</div>
                        <div id="recentPlayedList" class="d-flex"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 order-md-1" id="playlist">
                <input type="text" id="searchInput" class="form-control search-bar" placeholder="Search Channel">
                <div class="d-flex align-items-center text-secondary mt-4" id="channel-placeholder">No channel found</div>
                <div id="playlistItemsContainer" class="d-flex flex-md-column flex-wrap flex-md-nowrap">
                    <!-- Playlist items will be added here -->
                </div>
           </div>
        </div>
    </div>
    <div id="billedMsg" class="billed-msg d-none"></div>

    <script>

        // Define an array to store all playlist items
        let playlistItems = [];
        let player = null;
        let recentPlayed = [];

        //DOM ready
        $(function () {
        //document.addEventListener("DOMContentLoaded", function() {
            const baseUrl = window.location.protocol + "//" + window.location.host + "/";
            const playlistUrl = baseUrl + "playlist.m3u";
            const videoPlayer = document.getElementById("vjs-player");
            const playlist = document.getElementById("playlist");
            const playlistItemsContainer = $("playlistItemsContainer");
            const loadM3UButton = document.getElementById("loadM3U");
            const m3uURLInput = document.getElementById("m3uURL");
            const billedMsgElement = document.getElementById("billedMsg");
            const searchInput = document.getElementById("searchInput");
            const channelPlaceholder = document.getElementById("channel-placeholder");
            const recentPlayedSection = document.getElementById("recentPlayedSection");
            const recentPlayedList = document.getElementById("recentPlayedList")
            const streamid = getQuerystring("streamid")
            const streamid_isHls = getQuerystring("hls")

            const IS_IOS = /iPad|iPhone|iPod/.test(navigator.userAgent) && !window.MSStream;

            if (IS_IOS) {
                document.documentElement.classList.add('ios');
            }

            //https://videojs.com/guides/options/
            //https://videojs.com/guides/spatial-navigation/

            var options = {
                muted: false,
                autoplay: false,
                liveui: true,
                //fluid: true,
                controlBar: {
                    children: [
                        'playToggle',
                        'volumePanel',
                        'currentTimeDisplay',
                        'timeDivider',
                        'durationDisplay',
                        'progressControl',
                        'liveDisplay',
                        'seekToLive',
                        'remainingTimeDisplay',
                        'customControlSpacer',
                        'playbackRateMenuButton',
                        'chaptersButton',
                        'descriptionsButton',
                        'subsCapsButton',
                        'audioTrackButton',
                        'settingMenuButton',
                        'qualitySelector',
                        'fullscreenToggle'
                    ]
                },
                //controls: true,
                preload: 'auto',
                //width: SCREEN_WIDTH,
                //height: SCREEN_HEIGHT,
                //sources: [{ src: source, type: 'application/x-mpegURL' }],
                //playbackRates: [0.5, 1, 1.25, 1.5, 2],
                html5: {
                    hls: {
                        enableLowInitialPlaylist: true,
                        smoothQualityChange: true,
                        //overrideNative: true,
                    },
                },
                spatialNavigation: {
                    enabled: true,
                    horizontalSeek: true
                }
            }

            // Initialize the playlist plugin
            //const playlistPlugin = player.playlistPlugin();

            // Retrieve the PlaylistPlugin class
            // This is used to access static methods of the PlaylistPlugin
            //const PlaylistPluginClass = videojs.getPlugin('playlistPlugin');
            //const PlaylistUi = videojs.getPlugin('playlistUi');

            const player = videojs('vjs-player', options, function onPlayerReady() {
                options.headers = {
                    //"Content-Type": "application/x-mpegURL",
                    "Access-Control-Allow-Origin": "*"
                }

                videojs.log('Your player is ready!');
                //console.log("'Your player is ready!'");

                // In this context, `this` is the player that was created by Video.js.
                //this.play();

                // How about an event listener?
                this.on('ended', function () {
                    videojs.log('Player content has ended');
                    if (player.isFullscreen()) {
                        player.exitFullscreen();
                    }
                    player.hasStarted(false);
                });
            });

            // Initialize the plugin and render the playlist
            //player.playlistUi();

            player.ready(function () {
                //videojs.log('Starting SpatialNavigation for SmartTV\'s');
                //player.spatialNavigation.start();
                window.player = player;

                DetectAndPlayIncomingStream(streamid, streamid_isHls);
            });

            //player.crossOrigin('anonymous');

            $("#m3uURL").val(playlistUrl);
            loadPlaylist($("#m3uURL").val());

            // Load recent played
            //loadRecentPlayed();

            //$("#loadM3U").css('cursor','pointer');
            $("#loadM3U").off('click').on('click', function (e) {
            //loadM3UButton.addEventListener("click", () => {
                e.preventDefault();
                loadPlaylist($("#m3uURL").val());
            });

            // Search input event listener
            $("#m3uURL").off('input').on('input', function (e) {
            //searchInput.addEventListener("input", () => {
                event.preventDefault();
                const searchText = $("#m3uURL").value.trim().toLowerCase();

                // Filter playlist items based on search input
                const filteredItems = playlistItems.filter(item => {
                    return item && item.tvgName && item.tvgName.toLowerCase().includes(searchText.toLowerCase());
                });

                // Render the filtered playlist
                clearPlaylist(false);
                renderPlaylist(filteredItems, $("#playlistItemsContainer"));
            });

            // Prevent double-binding
            // (only a potential issue if script is loaded through AJAX)
            $(document.body).off('keyup', $("#m3uURL"));

            // Bind to keyup events on the $selector.
            $(document.body).on('keyup', $("#m3uURL"), function(event) {
              if(event.keyCode == 13) { // 13 = Enter Key
                $("#loadM3U").trigger('click');
              }
            });


        });

        loadPlaylist = function(url){
            const m3uURL = url;
            channelPlaceholder = $("#channel-placeholder");
            billedMsgElement = $("#billedMsg");
                    //localStorage.setItem("m3uPlaylistURL", m3uURL);
                    // Load and parse the M3U file from the user-provided URL
                    fetch(m3uURL)
                        .then(response => response.text())
                        .then(data => {
                            //debugger;
                            //videoPlayer.innerHTML = ''; // Clear the video player
                            clearPlaylist(); // clear channel list

                            const parsedPlaylist = parseM3U(data);
                            playlistItems = parsedPlaylist.items;

                            // Render the playlist
                            renderPlaylist(playlistItems, $("#playlistItemsContainer"));

                            if (playlistItems && playlistItems.length == 0) {
                                channelPlaceholder.addClass("d-none");
                            } else {
                                channelPlaceholder.removeClass("d-none");
                            }

                            if (parsedPlaylist.billedMsg) {
                                billedMsgElement.text(parsedPlaylist.billedMsg);
                                billedMsgElement.addClass("d-none");
                            } else {
                                billedMsgElement.removeClass("d-none");
                            }
                        })
                        .catch(error => {
                            console.error("Error loading the M3U file:", error);
                        });
        };

        // Function to render the playlist
        function renderPlaylist(items, target) {
            items.forEach((item, index) => {
                var uniqueid = GenerateUUID();
                const playlistItem = document.createElement('div');
                playlistItem.id = 'pli_' + uniqueid;
                playlistItem.className = "channel d-flex flex-column shadow-lg p-3 rounded rounded-2";
                playlistItem.style = "cursor: pointer;";
                playlistItem.textContent = item.tvgName || `Stream ${index + 1}`;

                if (item.tvgLogo) {
                    const logoImage = document.createElement("img");
                    logoImage.src = item.tvgLogo;
                    logoImage.className = "tv-logo";
                    playlistItem.appendChild(logoImage);
                }

                //append to dom then wireup click handler
                target.append(playlistItem);

                //$("#pli_" + uniqueid).css('cursor','pointer');
                $("#pli_" + uniqueid).off('click').on('click', function (e) {

                //playlistItem.addEventListener("click", async () => {
                    e.preventDefault();
                    clearErrorMessage();
                    try {

                        console.log('Loading source:', item.source);
                        //await player.load(item.source + "?web=true", null, 'video/mp4');

                        var vjsCallback = function () {
                        //console.log("sent " + channelName + " to Video.js player");

                            window.player.ready(function () {
                                var promise = window.player.play();

                                if (promise !== undefined) {
                                    promise.then(function () {
                                        //debugger;
                                        // Autoplay started!
                                        videojs.log("Autoplay started!");
                                        $("#vjs-player-wrapper").removeClass("centerVertically");
                                        $("#vjs-player-wrapper").focus();
                                        $("#vjs-player-wrapper").addClass("centerVertically");
                                    }).catch(function (error) {
                                        // Autoplay was prevented.
                                        videojs.log("Autoplay was prevented!");
                                    });
                                }
                            });

                        };

                        const IS_IOS = /iPad|iPhone|iPod/.test(navigator.userAgent) && !window.MSStream;

                        //StartVideoJSPlayer(item.source, IS_IOS, vjsCallback);
                        StartVideoJSPlayer(item.source, IS_IOS, vjsCallback);
                        //console.log('Source loaded successfully');

                        //videoPlayer.scrollIntoView({ behavior: 'smooth' });
                        //videoPlayer.classList.remove("d-none");

                        saveRecentPlayed(item);
                    } catch (error) {
                        console.error('Error in renderPlaylist:', error);
                        //onPlayerError(error);
                        //videoPlayer.classList.add("d-none");
                    }
                });


            });
        }

        function StartVideoJSPlayer(url, isIOS, callback) {
            var contentType = 'video/mp4';

            if (!$.isNullOrEmpty(url)) {

                if (url.toLowerCase().endsWith('.m3u8')) {
                    contentType = 'application/x-mpegURL';
                } else if (url.toLowerCase().endsWith('.mp4')) {
                    contentType = 'video/mp4';
                } else if (url.toLowerCase().endsWith('.webm')) {
                    contentType = 'video/webm';
                } else if (url.toLowerCase().endsWith('.ogv')) {
                    contentType = 'video/ogg';
                } else {
                    console.log('unknown extension, defaulting to mpeg ts content-type');
                }

                if(isIOS){
                    contentType = 'application/x-mpegURL';
                    url = url + "?web=true&ios=true"
                }else if (!isIOS && contentType === "video/mp4"){
                    //force hls with web player
                    contentType = 'application/x-mpegURL';
                    url = url + "?hls=true"
                }

                window.player.src({
                    src: url,
                    type: contentType,
                    //withCredentials: true,
                    autoplay: true
                    //handleManifestRedirects: true,
                    //overrideNative: true
                });

                if (callback) {
                    callback();
                }
            } else {
                videojs.log('Url Empty or invalid');
            }
        }

        function StartVideoJSPlayerJoinStream(streamid, hls, callback) {
            var contentType = 'video/mp4';

            var url = "";

            if (!$.isNullOrEmpty(streamid)) {

                if(hls){
                    url = "/hls/" + streamid + "/master.m3u8";
                }

                if (url.toLowerCase().endsWith('.m3u8')) {
                    contentType = 'application/x-mpegURL';
                } else if (url.toLowerCase().endsWith('.mp4')) {
                    contentType = 'video/mp4';
                } else if (url.toLowerCase().endsWith('.webm')) {
                    contentType = 'video/webm';
                } else if (url.toLowerCase().endsWith('.ogv')) {
                    contentType = 'video/ogg';
                } else {
                    console.log('unknown extension, defaulting to mpeg ts content-type');
                }


                window.player.src({
                    src: url,
                    type: contentType,
                    //withCredentials: true,
                    autoplay: true
                    //handleManifestRedirects: true,
                    //overrideNative: true
                });

                if (callback) {
                    callback();
                }
            } else {
                videojs.log('Url Empty or invalid');
            }
        }

        function DetectAndPlayIncomingStream(streamid, hls){
            //was a streamid passed, if so play it
            if(!$.isNullOrEmpty(streamid)){

                console.log('Loading stream:', streamid);
                        //await player.load(item.source + "?web=true", null, 'video/mp4');

                        var vjsStreamCallback = function () {

                            window.player.ready(function () {
                                var promise = window.player.play();

                                if (promise !== undefined) {
                                    promise.then(function () {
                                        //debugger;
                                        // Autoplay started!
                                        videojs.log("Autoplay started!");
                                        $("#vjs-player-wrapper").removeClass("centerVertically");
                                        $("#vjs-player-wrapper").focus();
                                        $("#vjs-player-wrapper").addClass("centerVertically");
                                    }).catch(function (error) {
                                        // Autoplay was prevented.
                                        videojs.log("Autoplay was prevented!");
                                    });
                                }
                            });

                        };

                        //StartVideoJSPlayer(item.source, IS_IOS, vjsCallback);
                        StartVideoJSPlayerJoinStream(streamid, true, vjsStreamCallback);
                        //console.log('Source loaded successfully');

            } //!$.isNullOrEmpty(streamid))
        }

        function clearErrorMessage() {
            // Clear any existing error messages
            const existingErrorMessage = document.querySelector('.video-error-message');
            if (existingErrorMessage) {
                existingErrorMessage.remove();
            }
        }

        function parseM3U(content) {
            const lines = content.split('\n');
            const items = [];
            let currentItem = null;
            let billedMsg = '';

            for (let line of lines) {
                line = line.trim();

                if (line.startsWith('#EXTM3U')) {
                    const billedMsgMatch = line.match(/billed-msg="([^"]+)"/);
                    if (billedMsgMatch) {
                        billedMsg = billedMsgMatch[1];
                    }
                } else if (line.startsWith('#EXTINF:')) {
                    currentItem = { tvgName: '', tvgLogo: '', groupTitle: '', source: '', key: null };

                    const tvgIdMatch = line.match(/tvg-id="([^"]+)"/);
                    if (tvgIdMatch) {
                        currentItem.tvgId = tvgIdMatch[1];
                    }

                    const groupTitleMatch = line.match(/group-title="([^"]+)"/);
                    if (groupTitleMatch) {
                        currentItem.groupTitle = groupTitleMatch[1];
                    }

                    const tvgNameMatch = line.match(/tvg-name="([^"]+)"/);
                    if (tvgNameMatch) {
                        currentItem.tvgName = tvgNameMatch[1];
                    } else {
                        const lastCommaIndex = line.lastIndexOf(",");
                        if (lastCommaIndex !== -1) {
                            currentItem.tvgName = line.substring(lastCommaIndex + 1).trim();
                        }
                    }

                    const tvgLogoMatch = line.match(/tvg-logo="([^"]+)"/);
                    if (tvgLogoMatch) {
                        //currentItem.tvgLogo = convertToHttps(tvgLogoMatch[1]);
                        currentItem.tvgLogo = tvgLogoMatch[1];
                    }

                    // console.log('Parsed EXTINF:', currentItem);
                } else if (line.startsWith('#KODIPROP:')) {
                    if (currentItem) {
                        const keyInfo = extractKey(line);
                        if (keyInfo) {
                            if (!currentItem.key) currentItem.key = {};
                            Object.assign(currentItem.key, keyInfo);
                            // console.log('Extracted key info:', keyInfo);
                        }
                    }
                } else if (line.length > 0 && !line.startsWith('#')) {
                    if (currentItem) {
                        //currentItem.source = convertToHttps(line);
                        currentItem.source = line;
                        items.push(currentItem);
                        // console.log('Added item:', currentItem);
                        currentItem = null;
                    }
                }
            }

            // console.log('Parsed M3U items:', items);
            return { items, billedMsg };
        }

        function extractKey(line) {
            if (line.includes('inputstream.adaptive.license_type=')) {
                return { license_type: line.split('=')[1].trim() };
            } else if (line.includes('inputstream.adaptive.license_key=')) {
                const keyValue = line.split('=')[1].trim();

                // Check if it's a URL
                if (keyValue.startsWith('http')) {
                    return { license_key: keyValue };
                }

                // Check if it's a direct key (format: key_id:key)
                const keyParts = keyValue.split(':');
                if (keyParts.length === 2) {
                    return {
                        key_id: keyParts[0],
                        key: keyParts[1]
                    };
                }

                // Try parsing as JSON
                try {
                    const json = JSON.parse(keyValue);
                    if (json && json.keys && json.keys.length > 0) {
                        return {
                            key_id: base64ToHex(json.keys[0].kid),
                            key: base64ToHex(json.keys[0].k)
                        };
                    }
                } catch (error) {
                    // If it's not valid JSON, treat it as a raw key
                    console.log('Key is not in JSON format, treating as raw key:', keyValue);
                    return { raw_key: keyValue };
                }
            }
            return null;
        }

        function clearPlaylist(clearItems = true) {
            // Clear the existing playlist items
            if (clearItems) {
                playlistItems = [];
            }

            const playlistItemsElem = $("#playlistItemsContainer").find(".channel");
            $.map(playlistItemsElem, function(item) {
              item.remove()
            });
        }

        function trimLineBreak(text) {
            // Replace multiple line breaks with a single line break
            return text.replace(/[\r\n]{2,}/g, '\n\n');
        }

        function reorderIndexes(items) {
            let rearrangedItems = [];

            items.forEach(item => {
                if (item !== undefined) {
                    rearrangedItems.push(item);
                }
            });

            return rearrangedItems;
        }

        function base64ToHex(base64) {
            if (base64.length > 0) {
                const binary = atob(base64);
                let hex = '';
                for (let i = 0; i < binary.length; i++) {
                    let char = binary.charCodeAt(i).toString(16);
                    hex += (char.length === 1 ? '0' : '') + char;
                }
                return hex;
            }
            return base64;
        }

        function convertToHttps(url) {
            return url.replace(/^http:/, 'https:');
        }

        function extractKey(line) {
            const prefix = '#KODIPROP:inputstream.adaptive.license_key=';
            const extractedValue = line.substring(line.indexOf(prefix) + prefix.length);

            try {
                var json = JSON.parse(extractedValue);
                if (json && json.keys.length > 0) {
                    const KEY = base64ToHex(json.keys[0].k); // Value of 'k' (KEY)
                    const ID = base64ToHex(json.keys[0].kid); // Value of 'kid' (ID)

                    return {
                        'key_id': ID,
                        'key': KEY
                    };
                } else {
                    return null;
                }
            } catch (error) {
                return null;
            }
        }

        function saveRecentPlayed(item) {
            // Retrieve the recentPlayed array from localStorage
            let recentPlayed = JSON.parse(localStorage.getItem("recentPlayed")) || [];

            // Remove the item if it already exists in the list based on tvgId
            recentPlayed = recentPlayed.filter((entry) => entry.tvgId !== item.tvgId);

            // Add the new item to the beginning of the list
            recentPlayed.unshift(item);

            // Limit the list to 5 items
            if (recentPlayed.length > 5) {
                recentPlayed.pop();
            }

            // Save the updated list back to localStorage
            localStorage.setItem("recentPlayed", JSON.stringify(recentPlayed));

            // Reload the recent played items (assuming this function updates the UI)
            //loadRecentPlayed();
        }


        function getRecentPlayed() {
            const recentPlayed = JSON.parse(localStorage.getItem("recentPlayed")) || [];

            return recentPlayed;
        }

        function loadRecentPlayed() {
            recentPlayed = getRecentPlayed();
            //recentPlayedList.innerHTML = "";
            $("#recentPlayedList").children().off();
            $("#recentPlayedList").empty();

            recentPlayedSection = $("#recentPlayedSection");

            if (recentPlayed.length > 0) {
                renderPlaylist(recentPlayed, $("#recentPlayedList"));
                recentPlayedSection.removeClass("d-none");
            } else {
                recentPlayedSection.addClass("d-none");
            }
        }

        function renderActiveStreams(activestreams, callback){
            if(!$.isNullOrEmpty(activestreams)){
                var target = $("#activeStreamsList")

                        for (var portal in activestreams) {
                            for (const stream of activestreams[portal]) {
                                var portal = stream["portal name"]
                                var mac = stream["mac"].toUpperCase()
                                var client = stream["client"]
                                var channel = stream["channel name"]
                                var logo = stream["channel logo"]
                                var web = stream["web"]
                                var ios = stream["ios"]
                                var hls = stream["hls"]
                                var streamid = stream["streamid"]
                                var pid = stream["pid"]
                                var start = stream["start time"] * 1000
                                var now = Date.now()
                                var timeDifference = now - start;
                                var differenceDate = new Date(timeDifference);
                                var diffHours = differenceDate.getUTCHours();
                                var diffMinutes = differenceDate.getUTCMinutes();
                                var diffSeconds = differenceDate.getUTCSeconds();
                                var dur = String(diffHours).padStart(2, '0') + ':' + String(diffMinutes).padStart(2, '0') + ':' + String(diffSeconds).padStart(2, '0');

                                // Storing HTML code block in a variable
                                {#var codeBlock = codeBlock +
                                    '<div class="col">' +
                                    '<div class="card text-dark bg-light mb-3">' +
                                    '<div class="card-header"><i class="me-2 fa fa-user"></i>' + client + '</div>' +
                                    '<div class="card-body">' +
                                    '<table class="table table-sm">' +
                                    '<tr>' +
                                    '<td>' +
                                    '<i class="fa fa-play"></i>' +
                                    '</td>' +
                                    '<td>' +
                                    '<p class="card-text text-nowrap">' + channel + '</p>' +
                                    '</td>' +
                                    '</tr>' +
                                    '<tr>' +
                                    '<td>' +
                                    '<i class="fa fa-server"></i>' +
                                    '</td>' +
                                    '<td>' +
                                    '<p class="card-text text-nowrap">' + portal + '</p>' +
                                    '</td>' +
                                    '</tr>' +
                                    '<tr>' +
                                    '<td>' +
                                    '<i class="fa fa-lock"></i>' +
                                    '</td>' +
                                    '<td>' +
                                    '<p class="card-text text-nowrap">' + mac + '</p>' +
                                    '</td>' +
                                    '<tr>' +
                                    '<td>' +
                                    '<i class="fa fa-clock-o"></i>' +
                                    '</td>' +
                                    '<td>' +
                                    '<p class="card-text text-nowrap">' + dur + '</p>' +
                                    '</td>' +
                                    '</tr>' +
                                    '<tr>' +
                                    '<td>' +
                                    '<i class="fa fa-chrome"></i>' +
                                    '</td>' +
                                    '<td>' +
                                    '<p class="card-text text-nowrap">Web=' + web + '</p>' +
                                    '</td>' +
                                    '</tr>' +
                                    '<tr>' +
                                    '<td>' +
                                    '<i class="fa fa-apple"></i>' +
                                    '</td>' +
                                    '<td>' +
                                    '<p class="card-text text-nowrap">IOS=' + ios + '</p>' +
                                    '</td>' +
                                    '</tr>' +
                                    '<tr>' +
                                    '<td>' +
                                    '<i class="fa fa-recycle"></i>' +
                                    '</td>' +
                                    '<td>' +
                                    '<p class="card-text text-nowrap">HLS=' + hls + '</p>' +
                                    '</td>' +
                                    '</tr>' +
                                    '<tr>' +
                                    '<td>' +
                                    '<i class="fa fa-bookmark"></i>' +
                                    '</td>' +
                                    '<td>' +
                                    '<p class="card-text text-nowrap">' + streamid + '</p>' +
                                    '</td>' +
                                    '</tr>' +
                                    '<tr>' +
                                    '<td>' +
                                    '<i class="fa fa-bookmark"></i>' +
                                    '</td>' +
                                    '<td>' +
                                    '<p class="card-text text-nowrap"><a href=\"/killprocessid?pid=' + pid + '\" title=\"kill stream\"><i class="fa fa-times-circle fa-3x"></i></a>&nbsp;&nbsp;<a href=\"/webplayer?hls=true&streamid=' + streamid + '\" target=\"webplayer\" title=\"play stream\"><i class="fa fa-play-circle-o fa-3x"></i></a></p>' +
                                    '</td>' +
                                    '</tr>' +
                                    '</table>' +
                                    '</div>' +
                                    '</div>' +
                                    '</div>';#}

                                var $asdiv = "<div id=\"asi_" + streamid + "\" class=\"activestream d-flex flex-column shadow-lg p-3 rounded rounded-2\"><span id=\"asi_ch_" + streamid + "\">" + channel + "</span>";

                                if (logo){
                                    $asdiv += "<img src=\"" + logo + "\" class=\"tv-logo\" />";
                                }

                                $asdiv += "</div>";

                                //append to dom then wireup click handler in callback
                                target.append($asdiv);

                            }

                        }
            }

            if (callback) {
                callback();
            }
        }

        function loadActiveStreams(activeStreams) {

            var asCurrentList = $("#activeStreamsList").find(".activestream");
            $.map(asCurrentList, function(item) {
                $("#" + item.id).off();
                $("#" + item.id).remove();
            });

            $("#activeStreamsList").empty();

            var wireupClickEvents = function(){
               var asNewlyRenderedList = $("#activeStreamsList").find(".activestream");
                $.map(asNewlyRenderedList, function(item) {
                    var asdiv = $("#" + item.id);
                    var streamid = item.id.replace("asi_", "");
                    asdiv.off('click').on('click', function (e) {

                        if (typeof (e) != 'undefined') {
                            e.preventDefault();
                            e.stopPropagation();
                        }

                        clearErrorMessage();
                        try {

                            console.log('Loading stream:', streamid);
                            //await player.load(item.source + "?web=true", null, 'video/mp4');

                            var vjsCallback = function () {
                            //console.log("sent " + channelName + " to Video.js player");

                                window.player.ready(function () {
                                    var promise = window.player.play();

                                    if (promise !== undefined) {
                                        promise.then(function () {
                                            //debugger;
                                            // Autoplay started!
                                            videojs.log("Autoplay started!");
                                            $("#vjs-player-wrapper").removeClass("centerVertically");
                                            $("#vjs-player-wrapper").focus();
                                            $("#vjs-player-wrapper").addClass("centerVertically");
                                        }).catch(function (error) {
                                            // Autoplay was prevented.
                                            videojs.log("Autoplay was prevented!");
                                        });
                                    }
                                });

                            };

                            StartVideoJSPlayerJoinStream(streamid, true, vjsCallback);
                            //console.log('Stream loaded successfully');

                            //videoPlayer.scrollIntoView({ behavior: 'smooth' });
                            //videoPlayer.classList.remove("d-none");

                            //saveRecentPlayed(item);
                        } catch (error) {
                            console.error('Error in wireupClickEvents() of activestreams:', error);
                            //onPlayerError(error);
                            //videoPlayer.classList.add("d-none");
                        }
                    });




                });
            };


            renderActiveStreams(activeStreams, wireupClickEvents);

            activeStreamsSection = $("#activeStreamsSection");

            if (!$.isNullOrEmpty(activeStreams)) {
                activeStreamsSection.removeClass("d-none");
            } else {
                activeStreamsSection.addClass("d-none");
            }
        }

        // Streaming
        var streamingURL = "{{ url_for('streaming') }}";
        setInterval(function updateStreaming() {

            fetch(streamingURL)
                .then(function (response) {
                    return response.json();
                })
                .then(function (json) {
                    loadActiveStreams(json);
                })
            return updateStreaming;
        }(), 3000);




    </script>

{% endblock %}